.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('http://assets.stickpng.com/thumbs/585e4beacb11b227491c3399.png');
    background-size: cover;
  }