<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{perfilUs.nombreUsuario}}</mat-card-title>
    <mat-card-subtitle>nombre</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngFor="let usRoles of perfilUs.roles" >
      <mat-list-item> {{usRoles}} </mat-list-item>
     </mat-list>
  </mat-card-content>
  
</mat-card>